<strong>Hi {{ provider }}</strong>
<p>There was a canceling of an appointment, pleas verify the following details:</p>
<p>
  <strong>Client: </strong> {{ user }} <br />
  <strong>Date/time: </strong> {{ date }} <br />
  <br />
  <small>
    This time is now available for appointments.
  </small>
</p>
